*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none; 
}

html {
  font-size: 62,5%;
  font-family: 'Raleway', sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  
}

.logo {
  cursor: pointer;
}

nav ul {
  display: flex;
  
}

nav li {
  padding: 0 25px;
}

nav li a {
  color: #0065FC;
}

#subscription-bold {
  font-weight: bold;
}


/*Search section*/ 

.search {
  padding: 10px 30px;
}

.search-title {
  font-size: 1rem;
}

.search-subtitle {
  font-size: 0.7rem;
  padding: 0.5rem 0;
}

.search-wrap {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 10px 0;

}


.btn-localisation {
  position: relative;
  border: none;
  background-color: rgb(182, 169, 169);
  width: 40px;
  border-radius: 25px 0 0 25px;
  
}

.fa-map-marker-alt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.input {
  border: none;
  padding: 0 10px;
  width: 10rem;
}

.btn-search {
  position: relative;
  border-radius: 0 25px 25px 0;
  border: none;
  background-color: #0065FC;
  color: white;
  padding: 10px;
}


/* Filters */ 


