*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  margin: 2rem 0 2rem 3rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

nav li {
  padding: 2rem 2.5rem;
}

nav li a {
  color: #0065fc;
  font-size: 1.2rem;
}

#subscription-bold {
  font-weight: bold;
}

#activity-grey a {
  color: #000;
}

#border-blue {
  font-weight: bold;
  border-width: 2px;
  padding-left: 2rem;
  border-top-style: solid;
  border-top-color: #0065fc;
}

@media (max-width: 750px) {
  .logo {
    margin: 1rem 3rem;
  }
}

@media (max-width: 650px) {
  .logo {
    margin: 1rem 3rem;
  }

  nav li {
    padding: 2rem 1rem;
  }
}

@media (max-width: 570px) {
  .logo {
    height: 4rem;
    width: auto;
    padding: 0;
    margin: 1rem 1.5rem;
  }

  nav ul {
    padding-top: 0;
  }

  #subscription-bold {
    padding: 0;
    margin: -3.5rem 0 0 0;
    position: relative;
    left: 75%;
  }

  #activity-grey {
    border-bottom: 2px solid gray;
    flex: 1 0 50%;
    text-align: center;
  }

  #border-blue {
    border-top: none;
    border-bottom: 2px solid #0065fc;
    flex: 1 0 50%;
    text-align: center;
  }

  header {
    display: inline;
  }

  nav li {
    padding: 1rem 1rem;
  }
}

/*Search section*/

.search-section {
  margin: 1rem 3rem;
}

.search-title {
  font-size: 1.5rem;
}

.search-subtitle {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.search-wrap {
  display: inline-flex;
  flex-direction: row;
  height: 40px;
  margin: 1rem 0rem;
}

.btn-localisation {
  position: relative;
  border: none;
  background-color: #f2f2f2;
  width: 3rem;
  border-radius: 10px 0 0 10px;
}

.fa-map-marker-alt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  border: 0.1px solid #f2f2f2;
  border-left: none;
  width: 13rem;
  color: black;
}

.btn-search {
  position: relative;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #0065fc;
  color: white;
  padding: 10px;
}

.btn-search:hover {
  cursor: pointer;
}

/* Filters */

.filters {
  display: flex;
  margin: 3rem 0 0 0;
}

.filter-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  top: 1rem;
}

.filters a {
  color: black;
  text-decoration: none;
}

.filters-buttons {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.btn span {
  margin: 1rem;
}

.btn:hover span {
  text-decoration: #0065fc;
}

.btn i {
  background-color: #deebff;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #0065fc;
  font-size: 12px;
  padding: 12px;
}

.btn {
  padding: 0;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #ccc;
  cursor: pointer;
  display: flex;
  margin-right: 2rem;
  font-weight: bold;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.btn:hover {
  background-color: #deebff;
  color: black;
  border: 2px solid transparent;
}

.fa-search {
  visibility: collapse;
}

.filter-title {
  margin: 1rem 1rem 1rem 0;
}

@media (max-width: 768px) {
  .filters {
    display: inline;
  }
}

@media (max-width: 576px) {
  .search-section {
    margin: 1rem 1.5rem;
  }

  .input {
    width: 20rem;
    padding-left: 2rem;
  }
}

/* Infos */

.description-filters {
  font-size: 1.1rem;
  margin: 2rem 0rem 3rem 0;
}

.fa-info-circle {
  color: white;
  background-color: #0065fc;
  border-radius: 50%;
  margin-right: 1rem;
}

@media (max-width: 380px) {
  .fa-search {
    visibility: visible;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    border: none;
    background-color: #0065fc;
    color: white;
    padding: 10px;
    margin-left: -1rem;
  }

  .btn-search {
    visibility: collapse;
  }

  .btn-localisation {
    width: 3rem;
    flex-shrink: 0;
  }

  .description-filters i {
    margin-left: 0;
  }
}

/* Lodgement and popularity section */
.wrap-section {
  display: grid;
  grid-template-columns: 62% 35%;
  grid-row: 1;
  justify-content: space-between;
}

/* Lodgement section */

.lodgement-section {
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
  margin-left: 3rem;
  height: auto;
}

.lodgement-title {
  font-size: 1.8rem;
  margin: 1rem 0 2rem 5rem;
}

.lodgement-wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 26%);
  height: auto;
  column-gap: 2rem;
  row-gap: 2rem;
  align-content: space-between;
  justify-content: center;
}

.lodgement {
  max-height: 26rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
  position: relative;
}

.lodgement:hover {
  transform: scale(1.05);
}

.lodgement img {
  width: 98.5%;
  height: 70%;
  margin: 0.3rem 0.3rem 0 0.3rem;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.lodgement-description {
  margin: 0.1rem 0.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.lodgement-description h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 1.4rem;
}

.lodgement-price {
  font-size: 1.2rem;
  margin: 0.1rem 0;
}

.lodgement .fas {
  color: #0065fc;
}

.lodgement .far {
  color: grey;
}

.lodgement-stars {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  position: absolute;
  display: flex;
  flex-basis: 100%;
  bottom: 12px;
  left: 8px;
}

.lodgement-more {
  font-size: 1.8rem;
  color: black;
  margin: 1rem 3rem;
  flex-basis: 100%;
}

/* lodgement media queries */

@media (max-width: 1800px) {
  .lodgement-wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 40%);
    height: auto;
    column-gap: 2rem;
    row-gap: 2rem;
    align-content: space-between;
    justify-content: center;
  }

  .lodgement {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 1px gray;
    position: relative;
    max-height: 24rem;
  }

  .lodgement:hover {
    transform: scale(1.05);
  }

  .lodgement img {
    height: 64%;
    margin: 0.3rem 0.3rem 0 0.3rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }

  .lodgement-description {
    margin: 0.1rem 0 0.1rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .lodgement-description h3 {
    margin-top: 5px;
    font-size: 1.4rem;
  }

  .lodgement-price {
    font-size: 1.2rem;
    margin: 0.4rem 0;
  }

  .lodgement .fas {
    color: #0065fc;
  }

  .lodgement .far {
    color: grey;
  }

  .lodgement-stars {
    font-size: 0.8rem;
    position: absolute;
    bottom: 1.2rem;
    display: flex;
    flex-basis: 100%;
  }

  .activity-wrap {
    grid-template-rows: repeat(8, 1rem) !important;
  }
}

@media (max-width: 1500px) {
  .activity-wrap {
    grid-template-rows: repeat(8, 2rem) !important;
  }
}

@media (max-width: 1250px) {
  .lodgement-wrap {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(3, 31%);
  }

  .lodgement-section {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .lodgement-title {
    margin: 4rem 0 3rem 3rem;
  }

  .lodgement img {
    width: 98.5%;
  }

  .activity-wrap {
    grid-template-rows: repeat(8, 1rem) !important;
  }
}

@media (max-width: 850px) {
  .lodgement-section {
    height: auto;
  }

  .lodgement-title {
    margin: 4rem 0rem 3rem 4rem;
  }

  .lodgement-wrap {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, 40%);
    margin: 0 0;
    justify-content: center;
  }

  .lodgement-more {
    margin-left: 0rem;
  }

  .activity-wrap {
    /* grid-template-rows: repeat(3, 8rem)!important; */
    /* grid-template-rows: repeat(3, 20rem) !important; */
    grid-template-rows: repeat(2, 13rem) !important;
    padding-bottom: 6rem;
  }

  .activity-card img {
    min-height: 8rem;
  }
}

@media (max-width: 576px) {
  .lodgement-section {
    min-height: auto;

    background-color: white;
  }

  .lodgement-title {
    margin: 4rem 0rem 3rem 2rem;
  }

  .lodgement-wrap {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 15%);
    margin-left: 1rem;
  }

  .lodgement {
    box-shadow: none;
    width: 94%;
    box-shadow: 1px 2px 12px black;
  }

  .lodgement img {
    width: 98.5%;
  }

  .lodgement-description {
    height: 5rem;
  }

  .lodgement-more {
    margin-left: 1rem;
  }
}

/* Popularity  lodgement section */

.popularity-section {
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
  margin-right: 2rem;
}

.popularity-title {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 4rem;
}

.popularity-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.fa-chart-line {
  margin: 1.5rem 2rem 0 0;
  color: black;
}

.popularity-wrap {
  flex-direction: column;
  position: relative;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  height: 88%;
  display: grid;
}

.popularity-wrap {
  display: flex;
}

.popularity-lodgement {
  display: flex;
  border-radius: 10px;
  width: 85%;
  height: 18rem;
  margin: 0.8rem auto;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
  position: relative;
}

.popularity-lodgement a {
  display: flex;
}

.popularity-lodgement:hover {
  transform: scale(1.05);
}

.popularity-lodgement img {
  display: flex;
  order: 0;

  width: 22rem;
  height: auto;
  border-radius: 10px 0 0 10px;
  justify-content: center;
  margin: 0.2rem 0.2rem;
}

.popularity-description {
  order: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 0.2rem;
}

.popularity-description * {
  margin-bottom: 0.2rem;
}

.popularity-description h3 {
  font-size: 1.3rem;
  margin-top: 0.8rem;
}

.popularity-stars {
  position: relative;
  font-size: 0.8rem;
  top: 0.2rem;
}

.popularity-stars .fas {
  color: #0065fc;
}

.popularity-stars .far {
  color: grey;
}

/* Popularity media queries */

@media (max-width: 1250px) {
  .wrap-section {
    grid-template-columns: 100%;
    justify-content: center;
  }

  .popularity-section {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 0;
  }

  .popularity-wrap {
    flex-direction: row;
  }

  .popularity-title {
    margin: 4rem 0 2rem 3rem;
  }

  .popularity-lodgement {
    height: 12rem;
    width: 30%;
  }


  .popularity-lodgement img {
    width: 16rem;
  }

  /* .popularity-lodgement img {
    height: 97%;
  } */
}

@media (max-width: 850px) {
  .popularity-wrap {
    flex-direction: column;
  }

  .popularity-lodgement {
    width: 93%;
    box-shadow: none;
    align-content: center;
  }

}

@media (max-width: 576px) {
  .popularity-title {
    font-size: 1.8rem;
    margin: 2rem 0 1rem 2rem;
  }
}

/* Activity */

.marseille-title {
  font-size: 1.8rem;
  margin: 3rem 0 3rem 3rem;
}

.activity-wrap {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(8, 3rem);
  margin: 1rem 2rem;
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  justify-content: space-between;
  padding-bottom: 6rem;
}

.activity-card {
  margin: 0.5rem;
}

.activity-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-card:hover {
  transform: scale(1.05);
}

.activity-card h3 {
  font-size: 1.5rem;
  border-radius: 0 0 15px 15px;
  padding: 1rem 0 1rem 1rem;
  box-shadow: 0 0 20px #0000002e;
  margin: -0.3rem 0 0 0;
}

.card-1 {
  grid-area: 1 / 1 / 9 / 2;
}

.card-2 {
  grid-area: 1 / 2 / 6 / 3;
}

.card-3 {
  grid-area: 6 / 2 / 9 / 3;
}

.card-4 {
  grid-area: 1 / 3 / 9 / 4;
}

.card-5 {
  grid-area: 1 / 4 / 5 / 5;
}

.card-6 {
  grid-area: 5 / 4 / 9 / 5;
}

/* activity media queries */

@media (max-width: 800px) {
  .activity-wrap {
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 12rem);
  }

  .card-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .card-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .card-3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .card-4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card-5 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .card-6 {
    grid-area: 2 / 3 / 3 / 3;
  }
}

@media (max-width: 630px) {
  .activity-wrap {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 12rem);
    justify-content: center;
  }

  .card-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .card-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .card-3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card-4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .card-5 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .card-6 {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (max-width: 576px) {
  .activity-wrap {
    grid-template-columns: repeat(1, 106%);
    /* grid-template-rows: repeat(6, 26rem); */
    grid-template-rows: repeat(6, 32rem);
    grid-row-gap: 4rem;
    justify-content: center;
  }

  .marseille-title {
    font-size: 1.8rem;
    margin: 3rem 0 3rem 1.5rem;
  }

  .card-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .card-2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card-3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .card-4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .card-5 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .card-6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}

/* Footer */

footer {
  background: #f2f2f2;
  height: 100%;
  padding-bottom: 3rem;
}

.contenu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0rem 0;
  color: black;
  position: relative;
}

.footer-bloc {
  margin-top: 2.5rem;
  width: 30%;
}

footer h2 {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  white-space: nowrap;
}

.list {
  line-height: 2rem;
  white-space: nowrap;
}

.list li:hover {
  text-decoration: underline;
}

@media (max-width: 770px) {
  .contenu-footer {
    flex-direction: row;
    flex: 1 0 auto;
    margin-left: 1%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .contenu-footer {
    flex-direction: column;
    margin-left: 2%;
  }
}

@media (max-width: 380px) {
  .contenu-footer {
    margin-left: 4%;
  }
}
