*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none; 
  color: inherit;
}

html {
  font-size: 62,5%;
  font-family: 'Raleway', sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  
  
}

.logo {
  cursor: pointer;
  margin: 2rem 0 2rem 3rem;
}



nav ul {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  
}

nav li {
  padding: 2rem 2.5rem;
}

nav li a {
  color: #0065FC;
}

#subscription-bold {
  font-weight: bold;
}


#activity-grey a {
  color: #000;
}

#border-blue {
  font-weight: bold;
  border-width: 2px;
  padding-left: 2rem;
  border-top-style: solid;
  border-top-color: #0065fc;
}



@media (max-width: 750px) {


  .logo {
    margin: 2rem 2rem;
  }
  

}

@media (max-width: 650px) {

  .logo {
    margin: 1rem 3rem;
  }

  
  nav li {
    padding: 2rem 1rem;
  }

}


@media (max-width: 560px) {
  .logo { 
    margin: 0.5rem 1.5rem;

  }

}


@media (max-width: 500px) {

  .logo {
    height: 3rem;
    width: auto;
    padding: 0;
  }

  nav ul {
    
    padding-top: 0;
    
  }


  #subscription-bold {
    margin-left: 10rem;
    padding-top: 0;
    margin: -2rem 0 0 0;
    position: relative;
    right: -18rem;
    
  }
  
  #activity-grey {
  border-bottom: 2px solid gray;
  flex: 1 0 50%;
  padding-left: 4rem; 

  }

  #border-blue {
    border-top: none;
    border-bottom: 2px solid #0065FC;
    padding-right: 0rem;
    flex: 1 0 50%;
  
  }

  header {
    display: inline;
  }

  nav li {
    padding: 1rem 1rem;
  }

  
}

@media (max-width: 380px) {
  #subscription-bold {
    position: relative;
    left: 15rem;
  }

}

@media (max-width: 340px) {
    #subscription-bold {
      position: relative;
      left: 12rem;
    }

}

/*Search section*/ 

.search {
  padding: 10px 30px;
}

.search-title {
  font-size: 1rem;
}

.search-subtitle {
  font-size: 0.7rem;
  padding: 0.5rem 0;
}

.search-wrap {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 1rem 0;
}


.btn-localisation {
  position: relative;
  border: none;
  background-color: rgb(182, 169, 169);
  width: 3rem;
  border-radius: 10px 0 0 10px;
  
}

.fa-map-marker-alt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.input {
  border: none;
  padding: 0 10px;
  width: 10rem;
}

.btn-search {
  position: relative;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #0065FC;
  color: white;
  padding: 10px;
}

.btn-search:hover {
  cursor: pointer;
}


/* Filters */ 

.filters {
  display: flex;
  margin: 30px 0 0 0;
}

.filters h3 {
  margin: 10px;
  font-size: 1rem;
}

.filters a {
  color: black;
  text-decoration: none;
}

.filters-buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn span {
  margin-left: 10px;
  margin: 10px
}

.btn:hover span {
  text-decoration: #0065FC;
}

.btn i {
  background-color: #DEEBFF;
  border-radius: 100%;
  border: 1px solid #DEEBFF;
  color: #0065FC;
  font-size: 16px;
  margin: -2px;
  padding: 12px;
}

.btn {
  padding: 0;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #ccc;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 40px;
  margin-bottom: 9px;
  margin-left: 9px;
}

.btn:hover {
  background-color: #DEEBFF ;
  color: black;
  border: 2px solid #DEEBFF;
}

.fa-search {
  visibility: collapse;
}




/* Infos */ 

.description-filters {
  margin: 5px 0 0 0;
}

.description-filters i {
  color: white;
  background-color: #0065FC;
  border-radius: 50%;
  margin: 1rem;
}



@media (max-width: 380px) {
.fa-search {
  visibility: visible;
  position: relative;
  border-radius: 8px 8px 8px 8px;
  border: none;
  background-color: #0065FC;
  color: white;
  padding: 10px;
}

.btn-search {
  visibility: collapse;
}

.btn-localisation {
  width: 2rem;
  flex-shrink: 0;
  
}


}

/* Lodgement and popularity section */ 
.wrap-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

}



/* Lodgement section */ 

.lodgement-section {
  background-color: #F2F2F2;
  height:28rem;
  width: 55%;
  border-radius: 20px;
  position: relative;
  
}



.section-title {
  padding: 2rem 0 0.5rem 2rem;
}

 .lodgement-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 1rem;
  justify-content: space-evenly;
}

.lodgement {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 30%;
  height: 9.5rem;
  margin: 0.6rem;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
  position: relative;

}

.lodgement:hover {
  transform: scale(1.05);
}

.lodgement img {
  width: 97%;
  height: 5rem;
  display: inline-block;
  margin: 0.3rem;
  border-radius: 20px 20px 0 0;
  object-fit: fill;
  text-align: center;
}


.lodgement-description {
  margin: 0.1rem 0.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.lodgement-description h3 {
  font-size: 0.8rem;
  
}

.lodgement-price {
  font-size: 0.7rem;
  margin: 0.1rem 0;
}

.lodgement .fas {
  color:#0065FC;
  
}

.lodgement .far {
  color: grey;
}


.lodgement-stars {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  flex-basis: 100%;
}

.lodgement-more {
  font-size: 1.2rem;
  color: black;
  margin: 0.5rem 1rem;
  flex-basis: 100%;
}

/* lodgement media queries */ 

@media (max-width: 1250px) {
  .lodgement-section {
    order: 2;
  }

  .lodgement-section {
    width: 95%;
    margin-top: 3rem;
  }

 

 }

@media (max-width: 770px) {

  .lodgement-section {
    height: 100%;
  }

  .lodgement {
    width: 40%;
    height: 11rem;
  }

  .lodgement-description h3 {
    font-size: 1.2rem;
  }
  .lodgement-price {
    font-size: 0.8rem;
  }

 }

@media (max-width: 600px) {
   
.lodgement {
  height: 12rem;
  
}

}

@media (max-width: 560px) {

.lodgement-section {
  width: 80%;
}

.lodgement {
  width: 85%;
  height: 14rem;
}

.lodgement img {
  height: 8rem;
}

}



@media (max-width: 380px) {

.lodgement-section {
  width: 100%;
  border-radius: 0;
}


 }


/* Popularity  lodgement section */ 

.popularity-section {
  background-color: #F2F2F2;
  height:28rem;
  width: 30%;
  margin: 0 2rem;
  border-radius: 20px;
  position: relative;
}

.popularity-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.fa-chart-line {
  margin: 1.5rem 2rem 0 0 ;
  color: black;
}

.popularity-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  margin: 1rem auto;
}

.popularity-lodgement {
  display: flex; 
  border-radius: 25px;
  width: 85%;
  height: 95%;
  margin: 0.8rem auto;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
  position: relative;
  
}

.popularity-lodgement a {
  display: flex;
  
}

.popularity-lodgement:hover {
  transform: scale(1.05);
}

.popularity-lodgement img {
  display: flex;
  order: 0;
  width: 7rem;
  height: 5.5rem;
  border-radius: 25px 0 0 25px;
  justify-content: center;
  margin: 0.2rem 0.2rem;
}

.popularity-description {
  order: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 0.2rem;
}

.popularity-description h3 {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.popularity-stars {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
  
}



.popularity-stars .fas {
  color:#0065FC;
  
}

.popularity-stars .far {
  color: grey;
}

/* Popularity media queries */ 


@media (max-width: 1250px) {

  .popularity-section {
    order: 1;
    width: 100%;
    height: 100%;
    
  }
    
  .popularity-wrap {
    flex-direction: row;
  }
  
  .popularity-lodgement {
    height: 8rem;
    width: 30%;
  
  }
  .popularity-lodgement img {
    height: 8rem;
  }
  
  }


  @media (max-width: 770px) {
    
  .popularity-title { 
    margin-left: 3rem;
  }

  .popularity-wrap {
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    
    }
    
  .popularity-lodgement {
    width: 80%;
    height: 10rem;
  }

  .popularity-lodgement img {
    width: 14rem;
    height: 10rem;
  }

  .popularity-description h3 {
    font-size: 1.2rem;
  }

  .lodgement-price {
    font-size: 1.2rem;
  
  }
  
  }



@media (max-width: 600px) {

.popularity-lodgement img {
  width: 9rem;
}

.popularity-title { 
  margin-left: 2rem;
}

}



@media (max-width: 450px) {


  .popularity-description h3 {
    font-size: 1rem;
  }

  .lodgement-price {
    font-size: 1rem;
  
  }

  .popularity-title { 
    margin-left: 1rem;
  }

}

@media (max-width: 380px) {

  .popularity-section {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  
  .popularity-lodgement img {
    width: 8rem;
  }


  .popularity-description h3 {
    font-size: 0.8rem;
  }

  .lodgement-price {
    font-size: 0.7rem;
  
  }

 
}
  


/* Activity */ 




.marseille-title {
 margin: 1rem 0 0 1rem;
}

.activity-wrap {
  
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(8, 0.2rem);
  margin: 1rem 2rem;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  justify-content: space-between;


}


.activity-card {
  margin: 0.5rem;
}


.activity-card img {
  border-top-left-radius: 15px;  
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


.activity-card:hover {
  transform: scale(1.05);
}

.activity-card h3 {
  font-size: 0.9rem;
  border-radius: 0 0 15px 15px;
  padding: 1rem 0 1rem 1rem;
  box-shadow: 0 0 20px #0000002e;
  margin: -0.3rem 0 0 0;
}



.card-1 {
 grid-area: 1 / 1 / 9 / 2;
}

.card-2 {
 grid-area: 1 / 2 / 6 / 3; 

}
.card-3 {
  grid-area: 6 / 2 / 9 / 3;
} 

.card-4 {
 grid-area: 1 / 3 / 9 / 4;

}

.card-5 {
  grid-area: 1 / 4 / 5 / 5;
}

.card-6 {
  grid-area: 5 / 4 / 9 / 5;
}


/* activity media queries */ 


@media (max-width: 800px) {
  
 .activity-wrap {

  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 12rem);

 }
  
 .card-1 {
  grid-area: 1 / 1 / 2 / 2;
 }
 
 .card-2 {
  grid-area: 1 / 2 / 2 / 3; 
 
 }
 .card-3 {
   grid-area: 1 / 3 / 2 / 4;
 }
 
 .card-4 {
  grid-area: 2 / 1 / 3 / 2; 
 
 }
 
 .card-5 {
   grid-area: 2 / 2 / 3 / 3;
 }

 .card-6 {
   grid-area: 2 / 3 / 3 / 3;
 }
 


}



@media (max-width: 630px) {
  
.activity-wrap {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 12rem);
}

.card-1 {
  grid-area: 1 / 1 / 2 / 2;
 }
 
 .card-2 {
  grid-area: 1 / 2 / 2 / 3; 
 
 }
 .card-3 {
   grid-area: 2 / 1 / 3 / 2;
 }
 
 .card-4 {
  grid-area: 2 / 2 / 3 / 3; 
 
 }
 
 .card-5 {
   grid-area: 3 / 1 / 4 / 2;
 }

 .card-6 {
   grid-area: 3 / 2 / 4 / 3;
 }


}


@media (max-width: 380px) {

  .activity-wrap {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 12rem);
  }
  
  .card-1 {
    grid-area: 1 / 1 / 2 / 2;
   }
   
   .card-2 {
    grid-area: 2 / 1 / 3 / 2; 
   
   }
   .card-3 {
     grid-area: 3 / 1 / 4 / 2;
   }
   
   .card-4 {
    grid-area: 4 / 1 / 5 / 2; 
   
   }
   
   .card-5 {
     grid-area: 5 / 1 / 6 / 2;
   }
  
   .card-6 {
     grid-area: 6 / 1 / 7 / 2;
   }

}


/* Footer */ 

footer {
  margin-top: 7rem;
  background: #F2F2F2;
}

.contenu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
  color: black;
  
}

.footer-bloc {
  margin-top: 2.5rem;
  
  
}

footer h4 {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.list {
  line-height: 2rem;
}

.list li:hover {
  text-decoration: underline;
}


@media (max-width: 770px) {
.contenu-footer {
    flex-direction: row;
    flex: 1 0 auto;
    margin-left: 5rem;
    height: 100%;
}

}


@media (max-width: 670px) { 
  .contenu-footer {
    flex-direction: column;
  }
}